<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Introduction</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="/">
            <span>
              Lung Cancer Detection Using Deep Learning
            </span>
          </a>
          
          <div style="margin-left: 750px;" id="myNav" class="overlay">
            <div class="overlay-content">
              <a style="font-size: large;" href="/" class="active">Home</a>
              <a style="margin-left: 20px;font-size: large;" href="/logon">Signup</a>
              
            </div>
          </div>
      </div>
      </nav>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="Customcarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    
                    <h1>
                      Deep Learning
                    </h1>
                    <p>
                      Deep learning neural networks are an example of an algorithm that natively supports multi-label classification problems. Neural network models for multi-label classification tasks can be easily defined and evaluated using the Keras deep learning library. 
                    </p>
                    <a style="font-size: xx-large;" href="/logon" class="btn-1">
                      Signup
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="static/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
    </section>
    <!-- end slider section -->
  </div>



  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="box">
        <div class="heading_container">
          <h2>
            <span>About</span>
          </h2>
        </div>
        <div class="img-box">
          <img src="static/images/about-img.png" alt="">
        </div>
        <div class="row">
          <div class="col-md-10 mx-auto">
            <p>
              Dataset USed : From kaggle.com
            </p>
            <a style="font-size: xx-large;" href="#" class="btn-1">
              Analysis
            </a>

          </div>
        </div>
        <div class="btn-box">
          
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  
  <div class="footer_bg">

    
    <!-- end info_section -->

    <!-- footer section -->
    <section class="container-fluid footer_section ">
      <div class="tow">
        <div class="col-lg-7 col-md-9 mx-auto">
          <p>
            &copy; 2022 All Rights Reserved. Design by
            <a href="https://html.design/">Free Html Templates</a>
          </p>
        </div>
      </div>
    </section>
    <!-- footer section -->
  </div>

  <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.js"></script>

  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width");
      document
        .querySelector(".custom_menu-btn")
        .classList.toggle("menu_btn-style");
    }
  </script>
</body>

</html>