body {
    padding-top:5%;
    color: black;
    display: table;
    font-family: Georgia, serif;
    font-size: 24px;
    text-align: center;
    height: 100vh;
/* background: url(waves.jpg) no-repeat; */
background-size: 100% 140px;
background-position: 0 510px;
overflow: hidden;
font-family: arial;
}
.container {
    border: 20px solid tan;
    width: 750px;
    height: 563px;
    display: table-cell;
    vertical-align: middle;
}
.logo {
    color: rgb(18, 18, 18);
}

.marquee {
    color: tan;
    font-size: 48px;
    margin: 20px;
}
.assignment {
    margin: 20px;
}
.person {
    border-bottom: 2px solid black;
    font-size: 32px;
    font-style: italic;
    margin: 20px auto;
    width: 400px;
}
.reason {
    margin: 20px;
}